<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
</head>

<body>
 
  <div class="container">
    <div class="headline">
      <h1>Travel Planner</h1>
    </div>

    <section>
      <h3>My Trips</h3>
      <div>
        <button id="btn-init">List Trip</button>
      </div>
      <form id="add-trip-form">
        <div class="trip-summary row">
          <label for="city"> My trip to:</label>
          <input type="text" id="city" required placeholder=" Enter Location">
        </div>

        <div class="trip-departing row">
          <label for="date">Departing:</label>
          <input type="date" id="date" required placeholder=" yyyy/mm/dd">
        </div>

        <div class="button-panel row">
          <input type="submit" id="btn-add" value="Save Trip" />
        </div>
      </form>
    </section>
    <section>
      <div class="trip-item">
        <div id="city-image"></div>
        <caption id="city-image-name"></caption>
      </div>


      <div class="trip-item">


        <div class="trip-info">
          <div>
            My trip to:
          </div>
          <div class="title">Trip Info</div>
          <div id="result-container">
            


          </div>


        </div>
      </div>
    </section>


    <footer>
      <div class="box">
        <div class="box-item">
          <i>Design by Lee.</i>
        </div>
        <div class="box-item">
          &copy;2015-2019
        </div>
        <div class="box-item">
          Udacity
        </div>

      </div>

    </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
 

</body>

</html>