footer{
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}
a{
    color: aqua;
}
a:visited,a:hover{
    color: blue;
}

.box{
    display: flex;
}
.box div{
    height: 50px;
    line-height: 50px;
}
.box-item{
    flex: 1;
}